*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* height: 100vh; */
    /* background: #5d4a75; */
    background-image: linear-gradient(#FFE8B3, #EDEDED);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* section{
    height: 120vh;
} */

/* Button Profile EM UB 2022 */
.btn-lg {

    border: 2px solid #CF6228;
    color: #CF6228;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-lg:hover{
    background-color: #CF6228;
    color:  whitesmoke;
  }
/* Akhir Button Profile EM */

span{
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(1) translateY(-500%) translateX(-100%) rotate(180deg);
        opacity: 0;
    }
    10%{
        opacity: 0.5;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
}